html, body {
  height: 100%;
  margin: 0;
  background-color: white;
}

.content {
  min-height: 100%;
}

#header {
  height: 170px;
  font-family: 'Karla';
  text-align: center;
  padding-top: 50px;
}

.nav-link {
  color: #F95738;
}
.nav-link:hover {
  color: #F95738;
}

h4 {
  font-family: 'Karla';
}

#main-page {
  padding-bottom: 50px;
}

.card-title:hover {
  text-decoration: underline;
}

.card-text {
  font-size: 0.6em;
}


@media (min-width: 20em) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media (min-width: 35em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

.footer-copyright {
  background-color: #F95738 !important;
  color: white !important;
  font-size: 0.8em;
}


.links {
  color: black;
}

.links:hover {
  color: black;
}

.btn {
  background-color: #F95738;
  color: white;
}
