/* color scheme

#66b9bf; lightblue
#07889B; teal
#E37222; tangerine
#EEAA7B; tan
*/

body {
/*  background-color: #66b9bf; /*lightblue*/
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  flex: 1 0 auto;
}
.col {
  align-items: center;
}

.nav-link {
  color: #66b9bf !important;
  text-align: center;
}

.nav-link:hover {
  color: #E37222 !important;
}

.fas {
  color: #66b9bf;
  text-decoration: none;
}

.cover {
  display:inline-block;
  margin: auto;
}

  @media all and (min-width: 790px) {
	.cover {
    width: 700px;
    height: 700px;
	}
}

@media all and (max-width: 790px) {

  .cover-heading {
    font-size: 250px;
  }
  .lead {
    font-size: 50px;
  }
  .fas {
    color: #66b9bf;
  }

  .nav-link {
    color: #66b9bf !important;
  }

  .nav-link:hover {
    color: #E37222 !important;
  }

  .links {
    text-decoration: none !important;
    color: #66b9bf;
  }

  .links:hover {
    text-decoration: none !important;
    color: #EEAA7B;
  }
}

.cover-heading {
  font-family: 'Beth Ellen', cursive;
  font-size: 3rem;
  margin-top: 25%;
}

.lead {
  font-family: 'Poppins', sans-serif;
  padding: 5px;
  font-size: 1rem;
}

#textbox {
  width: 80%;
  height: 80%;
  margin: 10%;
  text-align: center;
}

.btn-secondary{
  background-color: #E37222;
  border: none;
  box-shadow: 1px 1px 1px lightgrey;
}

.btn-secondary:hover {
  background-color: #EEAA7B;
  border: none;
  color: black;
}

.footer {
  align-self: center;
  background-color: #66b9bf;
  padding: 3%;
  width: 100%;
  color: white;
  font-size: 0.7rem;
  text-align: center;
}

.sticky-footer {
  flex-shrink: none;
}

.links {
  text-decoration: none !important;
  color: white;
}

.links:hover {
  text-decoration: none !important;
  color: #EEAA7B;
}
